@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width: thin;
    scrollbar-color: red;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }
  
  *::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(124, 120, 120);
    border-radius: 14px;
    border: 1px solid lightgray;
    width: 10px;
  }